@import "tailwindcss";
:root {
  --background: #e6f1ff;
  --foreground: #171717;
  --whitealt: #e6f1ff;
  --nav: rgba(10, 25, 47, 0.85);
  --navy-shadow: rgba(2,12,27,0.7);
  --navy: #0a192f;
  --lightest-navy: #233554;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navy: var(--navy);
  --color-navy-shadow: var(--navy-shadow);
  --color-lightest-navy: var(--lightest-navy);
  --color-dark-slate: var(--dark-slate);
  --color-slate: var(--slate);
  --color-light-slate: var(--light-slate);
  --color-lightest-slate: var(--lightest-slate);
  --color-white: var(--white);
  --color-green: var(--green);
  --color-green-tint: var(--green-tint);
  --color-pink: var(--pink);
  --color-blue: var(--blue);
  --color-whitealt: var(--whitealt);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #e6f1ff;
  --foreground: #171717;
  --whitealt: #e6f1ff;
  --nav: rgba(10, 25, 47, 0.85);
  --navy-shadow: rgba(2,12,27,0.7);
  --navy: #0a192f;
  --lightest-navy: #233554;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-feature-settings: "ss03", "cv02", "cv11";
}

h1, h2, h3, h4, h5, h6 {
  @apply text-slate-300;
}

/* p {
  @apply text-slate-400;
} */

@layer utilities {
  p {
    @apply text-slate-400;
    
  }
}

@layer base {
  p {
    @apply text-xs leading-relaxed text-white sm:text-base;
  }

  h1 {
    @apply text-sm font-bold text-white sm:text-2xl;
  }
}

.group\/cards:hover .card-hover-wrapper {
  opacity: 0.5;
}

.group\/cards:hover .card-hover-wrapper:hover {
  opacity: 1 !important;
}